@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* 禁用触摸高亮 */
    -webkit-tap-highlight-color: transparent;
    /* 改善触摸体验 */
    touch-action: manipulation;
  }
}

:root {
  color-scheme: dark;
}

*:focus {
  outline: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  align-items: safe center;
}
